<main class="product-list">
    <h2>Productos</h2>
    <ul id="productList">
        {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - ${{this.price}} <br />
            <p>{{this.description}}</p>
            <p>Stock: {{this.stock}} units</p>
            <p>Categoría: {{this.category}}</p>
            <ul>
                {{#each this.thumbnails}}
                <li><img src="{{this}}" alt="Imagen Producto" width="100" /></li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
</main>